{{>tables}}

<div id="tbar">
    <button class="btn btn-secondary shadow-sm" onclick="loadContent('maincuentas','/financiero/addcuenta');"><i
            class="fas fa-plus fa-fw me-2"></i>Agregar Cuenta</button>
</div>

<table data-toggle="table" data-toolbar="#tbar" data-show-columns="false" data-pagination="true" data-search="true"
    data-show-jump-to="true" data-page-size='10' data-show-export="true" data-export-types="['csv','']"
    data-mobile-responsive="true" data-check-on-init="true" data-click-to-select="true" data-toolbar="#toolbar"
    class="table table-striped table-bordered table-sm" data-page-list="[50, 100, 200, All]" width="100%" id="dtable"
    class="table table-striped table-bordered table-responsive mt-3 shadow-sm">
    <thead class="table-light">
        <tr>
            <th data-field="Nivel" data-sortable="true">Nivel</th>
            <th data-field="Cuenta" data-sortable="true">Cuenta</th>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each cuentas}}
        <tr>
            <td>{{nivel}}</td>
            <td>{{cuenta}}</td>
            <td>{{nombre}}</td>
            <td>
                <div class="btn-group btn-secondary shadow-sm w-100">
                    <button class="btn btn-sm btn-light"
                        onclick="delDialog('{{_id}}', '{{nombre}}', 'remCount', 'Eliminar Cuenta')"
                        title="Eliminar Cuenta"><i class="fas fa-trash fa-fw"></i></button>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{>end}}

<!--
Andres Rincon Gerente Proyectos COLSOF
Johana Diaz y Wilson (Comunicaciones) son de TI Banco

Pondremos un Canal
-->