{{>navbar this}}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Inicio</li>
        </ol>
    </nav>

    <div class="card border-0 bg-white mt-4">
        <div class="card-body p-0">
            <div class="row mt-3">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <div class="card border-0 shadow-sm bg-white">
                                <div class="card-header border-0 bg-light rounded text-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            Membresía<br>
                                            <h2>{{member}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="chartm" class="chart" data-colors='["--bs-info"]'> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-4 mb-2">
                            <div class="card border-0 shadow-sm bg-white">
                                <div class="card-header border-0 bg-light rounded text-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            Visitas<br>
                                            <h2>{{frien}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="chartv" class="chart" data-colors='["--bs-success"]'> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-4 mb-2">
                            <div class="card border-0 shadow-sm bg-white">
                                <div class="card-header border-0 bg-light rounded text-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            Familias<br>
                                            <h2>{{famil}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="chartf" class="chart" data-colors='["--bs-primary"]'> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 mb-2">
                        <div class="card border-0 rounded-0 shadow-sm bg-white">
                            <div class="card-header bg-light rounded-0 border-0 text-center">Sucursales</div>
                            <div class="card-body border-0">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h6>Locales: {{locales}}</h6>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h6>Nacionales: {{nacionales}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    function getChartColorsArray(r) {
        if (null !== document.getElementById(r)) {
            var t = document.getElementById(r).getAttribute("data-colors");
            if (t)
                return (t = JSON.parse(t)).map(function (r) {
                    var t = r.replace(" ", "");
                    if (-1 === t.indexOf(",")) {
                        var e = getComputedStyle(document.documentElement).getPropertyValue(t);
                        return e || t;
                    }
                    var a = r.split(",");
                    return 2 != a.length ? t : "rgba(" + getComputedStyle(document.documentElement).getPropertyValue(a[0]) + "," + a[1] + ")";
                });
        }
    }

    const seriem = {{member}}

    var RadialchartOrdersChartColors = getChartColorsArray("chartm");
    RadialchartOrdersChartColors && ((options = {
        fill: { colors: RadialchartOrdersChartColors },
        series: [seriem],
        chart: {
            type: "radialBar",
            width: 80,
            height: 80,
            sparkline: { enabled: !0 },
        },
        dataLabels: { enabled: !1 },
        plotOptions: {
            radialBar: {
                hollow: { margin: 0, size: "60%" },
                track: { margin: 0 },
                dataLabels: { show: !1 },
            },
        },
    }),
        (chart = new ApexCharts(
            document.querySelector("#chartm"),
            options
        )).render());

    var RadialchartVisitChartColors = getChartColorsArray("chartv");
    RadialchartVisitChartColors && ((options = {
        fill: { colors: RadialchartVisitChartColors },
        series: [30],
        chart: {
            type: "radialBar",
            width: 80,
            height: 80,
            sparkline: { enabled: !0 },
        },
        dataLabels: { enabled: !1 },
        plotOptions: {
            radialBar: {
                hollow: { margin: 0, size: "60%" },
                track: { margin: 0 },
                dataLabels: { show: !1 },
            },
        },
    }),
        (chart = new ApexCharts(
            document.querySelector("#chartv"),
            options
        )).render());

    const serief = {{famil}}
    var RadialchartVisitChartColors = getChartColorsArray("chartf");
    RadialchartVisitChartColors && ((options = {
        fill: { colors: RadialchartVisitChartColors },
        series: [serief],
        chart: {
            type: "radialBar",
            width: 80,
            height: 80,
            sparkline: { enabled: !0 },
        },
        dataLabels: { enabled: !1 },
        plotOptions: {
            radialBar: {
                hollow: { margin: 0, size: "60%" },
                track: { margin: 0 },
                dataLabels: { show: !1 },
            },
        },
    }),
        (chart = new ApexCharts(
            document.querySelector("#chartf"),
            options
        )).render());


</script>