Vista de la Membresía
<hr />
<div class="row">
    <div class="col-md-6 mb-2">
        <div class="card mb-2">
            <div class="card-header d-flex">
                <div class="me-4">
                    <h3>Foto de Perfíl</h3>
                </div>
            </div>
            <div class="card-body p-0 m-0">
                <img id="frame" src="{{adder.photo}}" class="img-fluid" />
            </div>

        </div>
    </div>
    <div class="col-md-6 mb-2">
        <div class="row">
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" id="names" class="form-control" placeholder="Nombres" value="{{adder.names}}"
                        readonly />
                    <label for="Nombres"><i class="fas fa-signature fa-fw me-2"></i>Nombres</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" id="lastnames" class="form-control" placeholder="Apellidos"
                        value="{{adder.lastnames}}" readonly />
                    <label for="lastnames"><i class="fas fa-signature fa-fw me-2"></i>Apellidos</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" id="rut" class="form-control" placeholder="Rut" value="{{adder.numdoc}}"
                        readonly />
                    <label for="rut"><i class="fas fa-address-card fa-fw me-2"></i>{{adder.typedoc}}</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="phonenumber" id="phonenumber"
                        value="{{adder.phonenumber}}" readonly />
                    <label for="phonenumber"><i class="fas fa-phone fa-fw me-2"></i>Teléfono</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="email" placeholder="Email" value="{{adder.email}}"
                        readonly />
                    <label for="email"><i class="fas fa-envelope fa-fw me-2"></i>Email</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="licencia" placeholder="Licencia"
                        value="{{adder.nationality}}" readonly />
                    <label for="licencia"><i class="fas fa-city fa-fw me-2"></i>Nacionalidad</label>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="licencia" placeholder="Licencia"
                        value="{{adder.congregation}}" readonly />
                    <label for="licencia"><i class="fas fa-city fa-fw me-2"></i>Membresía Actual</label>
                </div>
            </div>

        </div>
    </div>
</div>